--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 17rc1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: assignment_status; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.assignment_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.assignment_status OWNER TO postgres;

--
-- Name: attendance_status; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.attendance_status AS ENUM (
    'present',
    'absent',
    'late',
    'excused'
);


ALTER TYPE public.attendance_status OWNER TO postgres;
--
-- Name: class_status; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.class_status AS ENUM (
    'scheduled',
    'ongoing',
    'completed',
    'cancelled'
);


ALTER TYPE public.class_status OWNER TO postgres;

--
-- Name: enrollment_status; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.enrollment_status AS ENUM (
    'active',
    'completed',
    'dropped',
    'suspended'
);


ALTER TYPE public.enrollment_status OWNER TO postgres;
--
-- Name: payment_method_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.payment_method_enum AS ENUM (
    'cash',
    'card',
    'bank_transfer',
    'online'
);


ALTER TYPE public.payment_method_enum OWNER TO postgres;
--
-- Name: payment_status; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.payment_status AS ENUM (
    'pending',
    'completed',
    'failed',
    'refunded'
);


ALTER TYPE public.payment_status OWNER TO postgres;
--
-- Name: payment_type_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.payment_type_enum AS ENUM (
    'full_training',
    'per_session'
);


ALTER TYPE public.payment_type_enum OWNER TO postgres;
--
-- Name: paymentpolicy_enum; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.paymentpolicy_enum AS ENUM (
    'per session',
    'at once'
);


ALTER TYPE public.paymentpolicy_enum OWNER TO postgres;
--
-- Name: permission_type; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.permission_type AS ENUM (
    'manage_trainings',
    'manage_students',
    'view_payments',
    'manage_attendance',
    'view_reports',
    'manage_schedules'
);


ALTER TYPE public.permission_type OWNER TO postgres;
--
-- Name: session_status; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.session_status AS ENUM (
    'scheduled',
    'ongoing',
    'completed',
    'cancelled'
);


ALTER TYPE public.session_status OWNER TO postgres;
--
-- Name: student_status; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.student_status AS ENUM (
    'active',
    'inactive',
    'graduated',
    'dropped'
);


ALTER TYPE public.student_status OWNER TO postgres;
--
-- Name: teacher_status; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.teacher_status AS ENUM (
    'active',
    'inactive',
    'on_leave'
);


ALTER TYPE public.teacher_status OWNER TO postgres;
--
-- Name: training_status; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.training_status AS ENUM (
    'active',
    'inactive',
    'completed',
    'cancelled'
);


ALTER TYPE public.training_status OWNER TO postgres;
--
-- Name: user_role; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.user_role AS ENUM (
    'admin',
    'sub_admin'
);


ALTER TYPE public.user_role OWNER TO postgres;
--
-- Name: user_status; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public.user_status AS ENUM (
    'active',
    'inactive',
    'suspended'
);


ALTER TYPE public.user_status OWNER TO postgres;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attendance; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.attendance (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    enrollment_id uuid,
    session_id uuid,
    status public.attendance_status NOT NULL,
    check_in_time timestamp without time zone,
    check_out_time timestamp without time zone,
    notes text,
    marked_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.attendance OWNER TO postgres;
--
-- Name: enrollments; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.enrollments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    student_id uuid,
    class_id uuid,
    enrollment_date date DEFAULT CURRENT_DATE,
    status public.enrollment_status DEFAULT 'active'::public.enrollment_status,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.enrollments OWNER TO postgres;
--
-- Name: payments; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.payments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    enrollment_id uuid,
    amount numeric(10,2) NOT NULL,
    payment_method public.payment_method_enum,
    payment_date date DEFAULT CURRENT_DATE,
    due_date date,
    status public.payment_status DEFAULT 'pending'::public.payment_status,
    transaction_reference character varying(100),
    notes text,
    created_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.payments OWNER TO postgres;
--
-- Name: sessions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.sessions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    class_id uuid,
    session_number integer NOT NULL,
    topic character varying(200),
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    date date,
    start_time time without time zone,
    end_time time without time zone
);


ALTER TABLE public.sessions OWNER TO postgres;
--
-- Name: students; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.students (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(255),
    phone character varying(20),
    bday date,
    parentname character varying(200),
    parentphone character varying(20),
    registration_date date DEFAULT CURRENT_DATE,
    notes text
);


ALTER TABLE public.students OWNER TO postgres;
--
-- Name: sub_admin_permissions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.sub_admin_permissions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    permission public.permission_type NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.sub_admin_permissions OWNER TO postgres;
--
-- Name: teacher_trainings; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.teacher_trainings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    teacher_id uuid,
    training_id uuid,
    assigned_date date DEFAULT CURRENT_DATE,
    status public.assignment_status DEFAULT 'active'::public.assignment_status,
    created_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.teacher_trainings OWNER TO postgres;
--
-- Name: teachers; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.teachers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(255),
    phone character varying(20) NOT NULL,
    hire_date date DEFAULT CURRENT_DATE,
    status public.teacher_status DEFAULT 'active'::public.teacher_status,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.teachers OWNER TO postgres;
--
-- Name: training_classes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.training_classes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    training_id uuid,
    teacher_id uuid,
    name character varying(200) NOT NULL,
    start_date date NOT NULL,
    end_date date,
    status public.class_status DEFAULT 'scheduled'::public.class_status,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.training_classes OWNER TO postgres;
--
-- Name: trainings; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.trainings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(200) NOT NULL,
    description text,
    total_sessions integer,
    price_per_session numeric(10,2),
    max_students integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    paymentpolicy public.paymentpolicy_enum DEFAULT 'per session'::public.paymentpolicy_enum,
    total_price numeric(10,2)
);


ALTER TABLE public.trainings OWNER TO postgres;
--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    phone character varying(20),
    role public.user_role DEFAULT 'sub_admin'::public.user_role NOT NULL,
    status public.user_status DEFAULT 'active'::public.user_status NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO postgres;
--
-- Name: attendance attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_pkey PRIMARY KEY (id);


--
-- Name: enrollments enrollments_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: sub_admin_permissions sub_admin_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sub_admin_permissions
    ADD CONSTRAINT sub_admin_permissions_pkey PRIMARY KEY (id);


--
-- Name: teacher_trainings teacher_trainings_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.teacher_trainings
    ADD CONSTRAINT teacher_trainings_pkey PRIMARY KEY (id);


--
-- Name: teacher_trainings teacher_trainings_teacher_id_training_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.teacher_trainings
    ADD CONSTRAINT teacher_trainings_teacher_id_training_id_key UNIQUE (teacher_id, training_id);


--
-- Name: teachers teachers_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_email_key UNIQUE (email);


--
-- Name: teachers teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_pkey PRIMARY KEY (id);


--
-- Name: training_classes training_classes_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.training_classes
    ADD CONSTRAINT training_classes_pkey PRIMARY KEY (id);


--
-- Name: trainings trainings_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.trainings
    ADD CONSTRAINT trainings_pkey PRIMARY KEY (id);


--
-- Name: enrollments unique_student_class; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT unique_student_class UNIQUE (student_id, class_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_attendance_enrollment_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_attendance_enrollment_id ON public.attendance USING btree (enrollment_id);


--
-- Name: idx_attendance_session_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_attendance_session_id ON public.attendance USING btree (session_id);


--
-- Name: idx_enrollments_class_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_enrollments_class_id ON public.enrollments USING btree (class_id);


--
-- Name: idx_enrollments_student_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_enrollments_student_id ON public.enrollments USING btree (student_id);


--
-- Name: idx_payments_enrollment_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_payments_enrollment_id ON public.payments USING btree (enrollment_id);


--
-- Name: idx_payments_payment_date; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_payments_payment_date ON public.payments USING btree (payment_date);


--
-- Name: idx_payments_status; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_payments_status ON public.payments USING btree (status);


--
-- Name: idx_sessions_class_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_sessions_class_id ON public.sessions USING btree (class_id);


--
-- Name: idx_students_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_students_email ON public.students USING btree (email);


--
-- Name: idx_students_phone; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_students_phone ON public.students USING btree (phone);


--
-- Name: idx_sub_admin_permissions_user_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_sub_admin_permissions_user_id ON public.sub_admin_permissions USING btree (user_id);


--
-- Name: idx_teacher_trainings_teacher_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_teacher_trainings_teacher_id ON public.teacher_trainings USING btree (teacher_id);


--
-- Name: idx_teacher_trainings_training_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_teacher_trainings_training_id ON public.teacher_trainings USING btree (training_id);


--
-- Name: idx_teachers_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_teachers_email ON public.teachers USING btree (email);


--
-- Name: idx_teachers_status; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_teachers_status ON public.teachers USING btree (status);


--
-- Name: idx_training_classes_start_date; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_training_classes_start_date ON public.training_classes USING btree (start_date);


--
-- Name: idx_training_classes_teacher_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_training_classes_teacher_id ON public.training_classes USING btree (teacher_id);


--
-- Name: idx_training_classes_training_id; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_training_classes_training_id ON public.training_classes USING btree (training_id);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: attendance attendance_enrollment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_enrollment_id_fkey FOREIGN KEY (enrollment_id) REFERENCES public.enrollments(id) ON DELETE CASCADE;


--
-- Name: attendance attendance_marked_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_marked_by_fkey FOREIGN KEY (marked_by) REFERENCES public.users(id);


--
-- Name: attendance attendance_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.sessions(id) ON DELETE CASCADE;


--
-- Name: enrollments enrollments_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.training_classes(id) ON DELETE CASCADE;


--
-- Name: enrollments enrollments_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: payments payments_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: payments payments_enrollment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_enrollment_id_fkey FOREIGN KEY (enrollment_id) REFERENCES public.enrollments(id) ON DELETE CASCADE;


--
-- Name: sessions sessions_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.training_classes(id) ON DELETE CASCADE;


--
-- Name: sub_admin_permissions sub_admin_permissions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sub_admin_permissions
    ADD CONSTRAINT sub_admin_permissions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: teacher_trainings teacher_trainings_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.teacher_trainings
    ADD CONSTRAINT teacher_trainings_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: teacher_trainings teacher_trainings_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.teacher_trainings
    ADD CONSTRAINT teacher_trainings_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.teachers(id) ON DELETE CASCADE;


--
-- Name: teacher_trainings teacher_trainings_training_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.teacher_trainings
    ADD CONSTRAINT teacher_trainings_training_id_fkey FOREIGN KEY (training_id) REFERENCES public.trainings(id) ON DELETE CASCADE;


--
-- Name: training_classes training_classes_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.training_classes
    ADD CONSTRAINT training_classes_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.teachers(id);


--
-- Name: training_classes training_classes_training_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.training_classes
    ADD CONSTRAINT training_classes_training_id_fkey FOREIGN KEY (training_id) REFERENCES public.trainings(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

